<!DOCTYPE html>
<html lang="en">

<head>
    <title>success page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">

</head>

<body style="text-align: 'center';">
    <h1>Hello world! {{ name.capitalize() }}</h1>
    {% if name == "manish" %}
    <h1>Welcome admin</h1>
    {% endif %}


    <table border=1 class="tempClass">
        {% for key, value in dict.items() %}
        <tr>
            <th> {{ key }} </th>
            <td> {{ value }} </td>
        </tr>

        <!-- comment -->
        {#
        {% endfor %}
        #}
        <!-- comment -->
        {% endfor %}
    </table>

    <form action = "http://localhost:5000/result" method = "POST">
        <p>Name <input type = "text" name = "Name" value="{{ name.capitalize() }}"/></p>
        <p>Physics <input type = "text" name = "Physics" /></p>
        <p>Chemistry <input type = "text" name = "chemistry" /></p>
        <p>Maths <input type ="text" name = "Mathematics" /></p>
        <p><input type = "submit" value = "submit" /></p>
     </form>


</body>

</html>